<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthy"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.youtube.API_KEY"
            android:value="AIzaSyDDvt9DXUFto-e4Kuty0-k3LsQ-CpBSW_Y"/>
        <activity
            android:name=".StartingActivity"
            android:exported="true"
            android:theme="@style/Theme.Healthy.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/navigation_deeplink_scheme"
                    android:host="@string/navigation_deeplink_host"/>
            </intent-filter>
        </activity>
    </application>

</manifest>